{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include 'ConnexionBundle:Default:menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Historique des feuilles de présence</h3><br>
            </div>
        </div>
    </div>

{% endblock %}