{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        <div class="rectangle rec4">
            <div class="row">
                <div class="col-md-8 col-sm-push-2"><br><br><br><br><br>
                    <input type="text" class="form-control" placeholder="Email" ><br>
                    <input type="text" class="form-control" placeholder="Password" ><br>
                </div>
                <div class="col-md-8 col-sm-push-4">
                    <a href="{{ path('etudiant_123') }}"><button type="button" class="btn btn-secondary">Etudiant</button></a>
                    <a href="{{ path('enseignant') }}"><button type="button" class="btn btn-secondary">Enseignant</button></a>
                </div>
            </div>
        </div>
        <div class="rectangle rec1"></div>
        <div class="rectangle rec2"></div>
        <div class="rectangle rec3"></div>
    </div>
{% endblock %}