{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        <div class="rectangle rec4">
            <div class="row">
                <h1 style="text-align: center; color:white">MY E-TimeSheet</h1>
                <div class="col-md-8 col-sm-push-2"><br><br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Email" ><br>
                    </div>
                    <br />
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Password" ><br>
                    </div>
                </div>
                <div class="col-md-8 col-sm-push-4">
                    <a href="{{ path('accueil_admin') }}"><button type="button" class="btn btn-secondary" style="color: #000;">Connexion admin</button></a>
                    <a href="{{ path('signaler_presence') }}"><button type="button" class="btn btn-secondary" style="color: #000;">Connexion etudiant</button></a>
                    <a href="{{ path('valider_cours') }}"><button type="button" class="btn btn-secondary" style="color: #000;">Connexion enseignant</button></a>
                    <a href="{{ path('creer_feuille_presence') }}"><button type="button" class="btn btn-secondary" style="color: #000;">Connexion delegue</button></a>
                    <a href="#"><button type="button" class="btn btn-secondary" style="color: #000;">Connexion CFA</button></a>
                    <a href="#"><button type="button" class="btn btn-secondary" style="color: #000;">Connexion secrétaire</button></a>
                </div>
            </div>
        </div>
        <div class="rectangle rec1"></div>
        <div class="rectangle rec2"></div>
        <div class="rectangle rec3"></div>
    </div>
{% endblock %}