{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">

        <nav class="navbar navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="#">MY E-TimeSheet</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Signaler sa présence <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Historique des absences</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Profil</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="rectangle rec4">
            <div class="row">
                <div class="col-md-8 col-sm-push-2"><br><br><br><br><br>
                    <input type="text" class="form-control" placeholder="Email" ><br>
                    <input type="text" class="form-control" placeholder="Password" ><br>
                </div>
                <div class="col-md-8 col-sm-push-4">
                    <a href="{{ path('etudiant_123') }}"><button type="button" class="btn btn-secondary">Etudiant</button></a>
                    <a href="{{ path('enseignant') }}"><button type="button" class="btn btn-secondary">Enseignant</button></a>
                </div>
            </div>
        </div>
        <div class="rectangle rec1"></div>
        <div class="rectangle rec2"></div>
        <div class="rectangle rec3"></div>
    </div>

{% endblock %}