{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Accueil admin</h3><br>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail" style="background-color: #DDE3E3; -moz-box-shadow: 0px 0px 12px 0px #656565;
-webkit-box-shadow: 0px 0px 12px 0px #656565;
-o-box-shadow: 0px 0px 12px 0px #656565;
box-shadow: 0px 0px 12px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=12);">
                            <a href="{{ path('gerer_promotion') }}" class="btn bouton-accueil-admin "><span class="glyphicon glyphicon-list-alt" style="font-size: 50px"></span></a>
                            <div class="caption">
                                <h3 style="text-align: center">Gérer les promotions</h3>
                                <p>Ajoutez ou supprimez des promotions, ajoutez leurs des étudiants, des matières, un responsable de filière ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail" style="background-color: #DDE3E3; -moz-box-shadow: 0px 0px 12px 0px #656565;
-webkit-box-shadow: 0px 0px 12px 0px #656565;
-o-box-shadow: 0px 0px 12px 0px #656565;
box-shadow: 0px 0px 12px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=12);">
                            <a href="{{ path('gerer_personnel') }}" class="btn bouton-accueil-admin "><span class="glyphicon glyphicon-user" style="font-size: 50px"></span></a>
                            <div class="caption">
                                <h3 style="text-align: center">Ajouter du personnel</h3>
                                <p>Consultez la liste du personnel, ajoutez de nouveaux utilisateurs, modifiez leurs rôles ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}