{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Ajout d'un utilisateur</h3><br>
            </div>
        </div>
    </div>

{% endblock %}