<li><a class="active" href="{{ path('visionner_cours_jour') }}">Signaler présence</a></li>
<li><a class="active" href="{{ path('visionner_ets_jour') }}">Visionnez feuille du jour</a></li>
<li><a href="{{ path('historique_absence') }}">Historique des absences</a></li>
