<li><a class="active" href="{{ path('visionner_feuille_presence') }}">Signaler présence</a></li>
<li><a class="active" href="#">Visionnez feuille du jour</a></li>
<li><a href="{{ path('historique_absence') }}">Historique des absences</a></li>
