<li><a class="active" href="{{ path('accueil_admin') }}">Accueil</a></li>
<li><a class="active" href="{{ path('liste_promotions') }}">Gérer les promotions</a></li>
<li><a class="active" href="{{ path('gerer_personnel') }}">Gérer le personnel</a></li>