{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        table {
            border-collapse: separate;
            border-spacing: 10px;
        }
        td.horaire{width: 20%;}
        td.matiere{width: 30%;}
        td.type{width: 20%;}
        td.enseignant{width: 25%;}
    </style>
{% endblock %}


{% block body %}
        <div id="main">
            {% include '::menu.html.twig' %}
            <div class="content_text">
                <div class="container">
                    <h3>Créer une feuille de présence</h3><br>

                    {{ form_start(form) }}

                    <ul style="line-height: 200%; list-style-type: none" class="cours" data-prototype='{% filter escape %}{% include 'prototype.twig' with { 'item': form.lesCours.vars.prototype } %}{% endfilter %}'>
                        <li>
                            <table width="100%">
                                <tr style="font-weight: bold;">
                                    <td class="horaire">Horaire</td>
                                    <td class="matiere">Matière</td>
                                    <td class="type">Type</td>
                                    <td class="enseignant">Enseignant</td>
                                    <td></td>
                                </tr>
                            </table>
                        </li>
                    </ul>

                    <div class="pull-right"><button type="submit" class="btn btn-success">Valider</button></div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Ajouter un cours</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        $(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.cours');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $('label.required').hide();

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);


            // also add a remove button, just for this example
            //$newFormLi.prepend('<a href="#" class="remove-tag">x</a>');

            $newLinkLi.before($newFormLi);

            //$('span').css('display :inline');

            $('select').select2();

            // handle the removal, just for this example
            $('.remove-tag').click(function(e) {
                e.preventDefault();

                $(this).parent().parent().parent().parent().parent().remove();

                return false;
            });
        }
    </script>
{% endblock %}