{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Créer une feuille de présence</h3><br>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Horaire</th>
                        <th>Cours</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label class="checkbox-inline"><input type="checkbox" onchange="document.getElementById('selectHeure1').disabled = !this.checked;document.getElementById('selectMatiere1').disabled = !this.checked;" value=""></label></td>
                        <td>
                            <select class="col-xs-5 input-lg" data-live-search="true" id="selectHeure1">
                                <option>8:30</option>
                                <option>10:00</option>
                                <option>10:15</option>
                                <option>11:45</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:30</option>
                                <option>14:45</option>
                                <option>16:15</option>
                                <option>16:30</option>
                                <option>18:00</option>
                            </select>
                        </td>
                        <td>
                            <select class="col-xs-8 input-lg" data-live-search="true" id="selectMatiere1">
                                <option>Mélanie</option>
                                <option>Yann</option>
                                <option>Autre</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="checkbox-inline"><input type="checkbox" onchange="document.getElementById('selectHeure2').disabled = !this.checked;document.getElementById('selectMatiere2').disabled = !this.checked;" value=""></label></td>
                        <td>
                            <select class="col-xs-5 input-lg" data-live-search="true" id="selectHeure2">
                                <option>8:30</option>
                                <option>10:00</option>
                                <option>10:15</option>
                                <option>11:45</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:30</option>
                                <option>14:45</option>
                                <option>16:15</option>
                                <option>16:30</option>
                                <option>18:00</option>
                            </select>
                        </td>
                        <td>
                            <select class="col-xs-8 input-lg" data-live-search="true" id="selectMatiere2">
                                <option>Mélanie</option>
                                <option>Yann</option>
                                <option>Autre</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="checkbox-inline"><input type="checkbox" onchange="document.getElementById('selectHeure3').disabled = !this.checked;document.getElementById('selectMatiere3').disabled = !this.checked;" value=""></label></td>
                        <td>
                            <select class="col-xs-5 input-lg" data-live-search="true" id="selectHeure3">
                                <option>8:30</option>
                                <option>10:00</option>
                                <option>10:15</option>
                                <option>11:45</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:30</option>
                                <option>14:45</option>
                                <option>16:15</option>
                                <option>16:30</option>
                                <option>18:00</option>
                            </select>
                        </td>
                        <td>
                            <select class="col-xs-8 input-lg" data-live-search="true" id="selectMatiere3">
                                <option>Mélanie</option>
                                <option>Yann</option>
                                <option>Autre</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="checkbox-inline"><input type="checkbox" onchange="document.getElementById('selectHeure4').disabled = !this.checked;document.getElementById('selectMatiere4').disabled = !this.checked;" value=""></label></td>
                        <td>
                            <select class="col-xs-5 input-lg" data-live-search="true" id="selectHeure4">
                                <option>8:30</option>
                                <option>10:00</option>
                                <option>10:15</option>
                                <option>11:45</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:30</option>
                                <option>14:45</option>
                                <option>16:15</option>
                                <option>16:30</option>
                                <option>18:00</option>
                            </select>
                        </td>
                        <td>
                            <select class="col-xs-8 input-lg" data-live-search="true" id="selectMatiere4">
                                <option>Mélanie</option>
                                <option>Yann</option>
                                <option>Autre</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="checkbox-inline"><input type="checkbox" onchange="document.getElementById('selectHeure5').disabled = !this.checked;document.getElementById('selectMatiere5').disabled = !this.checked;" value=""></label></td>
                        <td>
                            <select class="col-xs-5 input-lg" data-live-search="true" id="selectHeure5">
                                <option>8:30</option>
                                <option>10:00</option>
                                <option>10:15</option>
                                <option>11:45</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:30</option>
                                <option>14:45</option>
                                <option>16:15</option>
                                <option>16:30</option>
                                <option>18:00</option>
                            </select>
                        </td>
                        <td>
                            <select class="col-xs-8 input-lg" data-live-search="true" id="selectMatiere5">
                                <option>Mélanie</option>
                                <option>Yann</option>
                                <option>Autre</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="checkbox-inline"><input type="checkbox" onchange="document.getElementById('selectHeure6').disabled = !this.checked;document.getElementById('selectMatiere6').disabled = !this.checked;" value=""></label></td>
                        <td>
                            <select class="col-xs-5 input-lg" data-live-search="true" id="selectHeure6">
                                <option>8:30</option>
                                <option>10:00</option>
                                <option>10:15</option>
                                <option>11:45</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:30</option>
                                <option>14:45</option>
                                <option>16:15</option>
                                <option>16:30</option>
                                <option>18:00</option>
                            </select>
                        </td>
                        <td>
                            <select class="col-xs-8 input-lg" data-live-search="true" id="selectMatiere6">
                                <option>Mélanie</option>
                                <option>Yann</option>
                                <option>Autre</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: #DDE3E3">
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-success">Valider</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}