{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Historique de tes absences</h3><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Horaire</th>
                        <th>Cours</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if(lesAbsences|length > 0) %}
                        {% for absence in lesAbsences %}
                            <tr>
                                <td>{{ absence.date }}</td>
                                <td>{{ absence.horaire }}</td>
                                <td>{{ absence.cours }}</td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="5">Aucune absence n'est encore affilié à l'étudiant.</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}