{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Historique de tes absences</h3><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Horaire</th>
                        <th>Cours</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>15 Novembre 2016</td>
                        <td>10h15 - 11h45</td>
                        <td>Droit Num</td>

                    </tr>
                    <tr>
                        <td>15 Novembre 2016</td>
                        <td>08h30 - 10h00</td>
                        <td>Droit Num</td>
                    </tr>
                    <tr>
                        <td>21 Octobre 2016</td>
                        <td>13h00 - 14h30</td>
                        <td>Statistiques</td>
                    </tr>
                    <tr>
                        <td>07 Octobre 2016</td>
                        <td>08h30 - 10h00</td>
                        <td>COOL</td>
                    </tr>
                    <tr>
                        <td>30 Septembre 2016</td>
                        <td>14h45 - 16h15</td>
                        <td>Projet</td>
                    </tr>
                    <tr>
                        <td>30 Septembre 2016</td>
                        <td>13h00 - 14h30</td>
                        <td>Projet</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}