{% extends '::base.html.twig' %}

{% block title %}
    {{ user.username }} | Absences par promotion
{% endblock title %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Recapitulatif des absences pour chaque promotion</h3><br>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#L3">L3</a></li>
                    <li><a data-toggle="tab" href="#M1">M1</a></li>
                    <li><a data-toggle="tab" href="#M2">M2</a></li>
                </ul>
                <div class="tab-content">

                    <div id="L3" class="tab-pane fade in active" >
                        <table class="table table-bordered" style="background-color: white">
                            <thead>
                            <tr>
                                <td width="30%"><b>Nom</b></td>
                                <td width="30%"><b>Prénom</b></td>
                                <td width="30%"><b>Nombre d'absence</b></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>VALBON</td>
                                <td>Kévin</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>BOURGUES</td>
                                <td>Yann</td>
                                <td>-2</td>
                            </tr>
                            <tr>
                                <td>GARAPATI</td>
                                <td>Vivek</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>GALVAN</td>
                                <td>Mélanie</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>PETIT</td>
                                <td>Christophe</td>
                                <td>20</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="M1" class="tab-pane fade">
                        <table class="table table-bordered" style="background-color: white">
                            <thead>
                            <tr>
                                <td width="30%"><b>Nom</b></td>
                                <td width="30%"><b>Prénom</b></td>
                                <td width="30%"><b>Nombre d'absence</b></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>VALBON</td>
                                <td>Kévin</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>BOURGUES</td>
                                <td>Yann</td>
                                <td>-2</td>
                            </tr>
                            <tr>
                                <td>GARAPATI</td>
                                <td>Vivek</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>GALVAN</td>
                                <td>Mélanie</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>VALBON</td>
                                <td>Kévin</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>BOURGUES</td>
                                <td>Yann</td>
                                <td>-2</td>
                            </tr>
                            <tr>
                                <td>GARAPATI</td>
                                <td>Vivek</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>GALVAN</td>
                                <td>Mélanie</td>
                                <td>0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="M2" class="tab-pane fade" style="background-color: white">
                        <table class="table table-bordered" style="background-color: white">
                            <thead>
                            <tr>
                                <td width="30%"><b>Nom</b></td>
                                <td width="30%"><b>Prénom</b></td>
                                <td width="30%"><b>Nombre d'absence</b></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>VALBON</td>
                                <td>Kévin</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>BOURGUES</td>
                                <td>Yann</td>
                                <td>-2</td>
                            </tr>
                            <tr>
                                <td>GARAPATI</td>
                                <td>Vivek</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>GALVAN</td>
                                <td>Mélanie</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>VALBON</td>
                                <td>Kévin</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>BOURGUES</td>
                                <td>Yann</td>
                                <td>-2</td>
                            </tr>
                            <tr>
                                <td>GARAPATI</td>
                                <td>Vivek</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>GALVAN</td>
                                <td>Mélanie</td>
                                <td>0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('[data-toggle="popover"]').popover({
            html: true,
//placement:'top',
            trigger:'hover',
            container: 'body'
        });
    </script>

{% endblock %}
