{% extends '::base.html.twig' %}

{% block body %}
    {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Signaler sa présence pour ce Mardi 14/02/2017</h3><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Horaire</th>
                        <th>Cours</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>8h30 - 10h00</td>
                        <td>BADA</td>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>

                    </tr>
                    <tr>
                        <td>10h15 - 11h45</td>
                        <td>BADA</td>
                        <td><button type="button" class="btn btn-success">Présent</button></td>
                    </tr>
                    <tr>
                        <td>13h00 - 14h30</td>
                        <td>ANALDON</td>
                        <td><button type="button" class="btn btn-success">Présent</button></td>
                    </tr>
                    <tr>
                        <td>14h45 - 16h15</td>
                        <td>ANALDON</td>
                        <td><button type="button" class="btn btn-success">Présent</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}