{% extends '::base.html.twig' %}

{% block body %}
    {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Signaler sa présence pour ce {{ "now"|date("d/m/Y") }}</h3><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Horaire</th>
                        <th>Cours</th>
                        <th>Enseignant</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if(lesCours|length > 0) %}
                        {% for cours in lesCours %}
                            <tr>
                                <td>{{ cours.horaire|date('H:i') }}</td>
                                <td>{{ cours.matiere.libelle }}</td>
                                <td>{{ cours.enseignant }}</td>
                                <td><button type="button" class="btn btn-success">Présent</button></td>
                                <td><button type="button" class="btn btn-warning">Enseignant absent</button></td>
                            </tr>
                        {% endfor %}
                     {% else %}
                        <tr><td colspan="5">Aucune ets n'a été créé.</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}