{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Valider les cours du jour</h3><br>
                <b>Nombre d'élèves :</b> 20/24<br><br>
                <h4>Tableau des absents</h4><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Elève</th>
                        <th>8h30 - 10h00</th>
                        <th>10h15 - 11h45</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>BOURGUES Yann</td>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                    </tr>
                    <tr>
                        <td>GARAPATI Vivek</td>
                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                    </tr>
                    <tr>
                        <td>VALBON Kévin</td>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                    </tr>
                    </tbody>
                </table>
                <br><h4>Tableau des présents</h4><br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Elève</th>
                            <th>8h30 - 10h00</th>
                            <th>10h15 - 11h45</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BOURGUES Yann</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GARAPATI Vivek</td>
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                        </tr>
                        <tr>
                            <td>VALBON Kévin</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GALVAN Mélanie</td>
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>BOURGUES Yann</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GARAPATI Vivek</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>VALBON Kévin</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GALVAN Mélanie</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>BOURGUES Yann</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GARAPATI Vivek</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>VALBON Kévin</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GALVAN Mélanie</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>BOURGUES Yann</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GARAPATI Vivek</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>VALBON Kévin</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GALVAN Mélanie</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>BOURGUES Yann</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GARAPATI Vivek</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>VALBON Kévin</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GALVAN Mélanie</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>BOURGUES Yann</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                        </tr>
                        <tr>
                            <td>GARAPATI Vivek</td>
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                        </tr>
                        <tr style="background-color: #DDE3E3">
                            <td>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                                <br>
                                <button type="button" class="btn btn-info">Ajouter un commentaire</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}