{% extends '::base.html.twig' %}

{% block body %}
    <div id="main">
        {% include '::menu.html.twig' %}
        <div class="content_text">
            <div class="container">
                <h3>Valider les cours du jour <button type="button" class="btn btn-warning glyphicon glyphicon-pencil"></button></h3><br>
                <b>Nombre d'élèves :</b> 20/24<br><br>
                <h4>Tableau des absents</h4><br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Elève</th>
                            {% for cours in lesCours  %}
                                <th>{{ cours.horaire }} - {{ cours.horaireFin }}8h30 - 10h00</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for cours in lesCours %}
                            {% for etudiant in cours.getLesEtudiants %}
                                <tr>
                                    <td>{{ etudiant }}BOURGUES Yann</td>
                                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 2em;color:green"></span></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                <br><h4>Tableau des présents</h4><br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Elève</th>
                            <th>8h30 - 10h00</th>
                            <th>10h15 - 11h45</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>GARAPATI Vivek</td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 2em;color:red"></span></td>
                        </tr>
                        <br/>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}